/.vs/dlang_oop_type_system/FileContentIndex
/.dub/lib/*.lib
/.dub/obj/debug/dummy/AppData/Local/dub/packages/pegged/0.4.9/pegged/pegged/dynamic/*.obj
/.dub/obj/debug/dummy/AppData/Local/dub/packages/pegged/0.4.9/pegged/pegged/*.obj
/.dub/obj/debug/dummy/AppData/Local/dub/packages/pegged/0.4.9/pegged/pegged/tester/*.obj
/.dub/obj/debug/dummy/dlang_oop_type_system/*.build
/.dub/obj/debug/dummy/dlang_oop_type_system/*.cmd
/.dub/obj/debug/dummy/dlang_oop_type_system/*.html
/.dub/obj/debug/dummy/dlang_oop_type_system/*.dep
/.dub/obj/debug/dummy/dlang_oop_type_system/*.json
/.dub/obj/debug/dummy/dlang_oop_type_system/*.link
/.dub/obj/debug/dummy/dlang_oop_type_system/*.rsp
/.dub/obj/debug/dummy/dlang_oop_type_system/*.lnkdep
/.dub/obj/debug/dummy/dlang_oop_type_system/*.pdb
/.dub/obj/debug/dummy/dlang_oop_type_system/*.tlog
/.dub/obj/debug/dummy/dummy/dummy/dummy/dummy/dummy/pegged/*.tlog
/.dub/obj/debug/dummy/dummy/dummy/dummy/dummy/dummy/pegged/*.build
/.dub/obj/debug/dummy/dummy/dummy/dummy/dummy/dummy/pegged/*.cmd
/.dub/obj/debug/dummy/dummy/dummy/dummy/dummy/dummy/pegged/*.rsp
/.dub/obj/debug/dummy/dummy/dummy/dummy/dummy/dummy/pegged/*.html
/.dub/obj/debug/dummy/dummy/dummy/dummy/dummy/dummy/pegged/*.dep
/.dub/obj/debug/dummy/dummy/dummy/dummy/dummy/dummy/pegged/*.json
/.dub/obj/debug/dummy/dummy/dummy/dummy/dummy/dummy/pegged/*.link
/.dub/obj/debug/dummy/dummy/dummy/dummy/dummy/dummy/pegged/*.lnkdep
/.dub/obj/debug/dummy/source/*.obj
/.vs/dlang_oop_type_system/v17/*.suo
/*.exe
/doc/*.pdf
